<footer>
  <h5>© 2018 CONOR ORGAN</h5>
  <h6>51.7284° N, -8.7165° W</h6>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<script>

$(document).ready(function() {
  $("nav a, header a").click(function(e) {
      e.preventDefault();
      var _href = $(this).attr("href");
      console.log(_href);

      $(".content, footer, nav, section").fadeOut(1000, function(){
        $(".content, footer, nav, section").css("display", "none");
        window.location.href = _href;
      });

  });
});

</script>
