<header class="site-header">
	<div class="wrapper">
		<div class="left-header">
			<a href="/" class="logo">Conor Organ</a>
			<span class="tagline">Visual Designer</span>
		</div>
		<div class="right-header">
			<nav>
				<ul class="nav">
					<li><a href="/about/" {% if page.url == '/about' %} class="active"{% endif %}>About</a></li>
					<li><a href="/contact/" {% if page.url == '/contact/' %} class="active"{% endif %}>Contact</a></li>
					<li><a href="/blog/" {% if page.url == '/contact/' %} class="active"{% endif %}>Blog</a></li>
				</ul>
				</div>

			</nav>
	</div>
</header>
