.container {
  width: 100%;
  height: 100vh;
}

.right {
  float: right;
}

.left {
  float: left;
}

h4 {
  font-weight: 700;
}


.portrait {
  background: url("/img/Bg.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  height: 100vh;
  width: 50%;
  position: relative;

  .info {
  position: absolute;
  bottom: 100px;
  width: 100%;

  img {
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  h2 {
    font-family: "Nunito", sans-serif;
    color: #bd6e40;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
  }

  p {
    color: #f7f0ed;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
  }

}
}




.signature {
  width: 250px;

}

.works {
    margin: 0 auto;
    width: 50%;

}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
}

.slick-dots li {
  display: inline-block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: lightgrey;
  margin: 2px;
}

li.slick-active {
  background: darkgrey;
}

.slick-dots button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  color: transparent;
  border: none;
}

#showkase_img {
  padding-right: 20px;
}


#wallet, #showkase, #barrier, #travel {
  position: relative;

      overflow: hidden;

  img {
    display: block;
    margin: 40px auto 20px auto;

  }

  .info {
    width: 75%;
    margin: 40px auto;

    h2 {
      font: 24px/1.5em "Nunito", sans-serif;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    a {
      color: #bd6e40;
      font: 18px/1.5em "Nunito", sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
    }
  }
}

header {
  width: 960px;
  margin: 10px auto;
}


.project_sig {
  width: 200px;
}

.title {
  position: relative;
  padding-top: 150px;
  height: 100vh;
  top: -130px;
  z-index: -1;
  text-align: center;
  color: #efefef;
  font: 24px/1.5em "Nunito", sans-serif;

  h1 {
    background: rgba(#000, 0.5);
    width: 960px;
    padding: 20px 0;
    margin: 0 auto;
  }
}

.title.wallet {
  background: url("/wallet/img/wallet_main.jpg") center top no-repeat;
}

.title.showkase {
  background: url("/showkase/img/header.png") center top no-repeat;
  background-size: contain;
}

.title.barrier {
  background: url("/barrier/img/sketch-13.jpg") center top no-repeat;
  background-size: contain;
}

.title.smartertravel {
  background: url("/smartertravel/img/header.png") center top no-repeat;
  background-size: cover;
}

.page_content {
  background: #fefefe;
  padding-top: 40px;
  width: 100%;
  position: relative;
  top: -50vh;

  table {
    border: 1px solid #444;
    border-collapse: collapse;
    font-family: "Nunito", sans-serif;

    tr, th {
      border: 1px solid #444;
    }

    td {
      width: 100px;
      text-align: center;
    }

    th {
      padding: 5px;
      background: lightgrey;
    }
  }

  video {
    width: 960px;
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
  }
}

.page_content .wrapper img {
  display: block;
  margin: 5px auto;
}

.page_content h2, h4 {
  margin-top: 10px;
}

.compare {
  margin: 0 auto;
}

.compare figure, .compare article {
  width: 49%;
  display: inline-block !important;
  margin-top: 10px;
  vertical-align:top;

}

.compare img {
  max-height: 400px;
  margin: 0 auto;
  text-align: center;
}

.compare figure figcaption {
  margin-top: 10px;
}

.compare figure:hover {
  width: 100%;

}

.compare figure:hover img {
  max-height: 600px;
}

.recorded, .obprne {
  width: 960px;
}

.unknowns li {
  list-style: none
}

.third img {
  display: inline-block !important;
  width: 33%;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=clike+c+csharp+cpp */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  box-sizing: border-box;
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
  width: 960px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@include media-query($on-palm) {
   .right {
     float: none;
   }

   .left {
     float: none;
   }

   .portrait {
     width: 100%;
   }

   .works {
     width: 100%;
   }

   .title h1 {
     width: 100%;
     line-height: 1.5em;
   }
 }
