<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="preload container">
    {% include header.html %}
    <div class="wrapper content">
      <div class="column">
        <div class="opening-text">
          <h1>Simple</h1>
          <h1>Minimalistic</h1>
          <h1>Design</h1>
        </div>
      </div>
      <div class="column">
        <div class="opening-image">
          <img src="/img/Bg.jpg" draggable="false" />
        </div>
      </div>
    </div>
    <section id="fandango">
        <div class="box wrapper">
          <img src="/img/fandango_render.png" class="render prod" />
        </div>
        <h2 class="prod_title">Kobai Fandango</h2>
        <div class="info wrapper">
          <ul>
            <li>2016</li>
            <li>Industrial Design</li>
          </ul>
          <p>
            The Kobai Fandango is a camera designed for the
modern day young creative. Young creatives can’t
afford expensive DSLR cameras. The Fandango fills
the gap in the market for a good looking, easy to use
camera. Cold to touch, the metal case means that from the moment the Fandango is picked up you sense it's aura.
          </p>
        </div>
    </section>
    <section id="showkase">
        <div class="box wrapper">
          <img src="/img/showkase.png" class="render prod" />
        </div>
        <h2 class="prod_title">Showkase</h2>
        <div class="info wrapper">
          <ul>
            <li>2016</li>
            <li>UI Design, Branding</li>
          </ul>
          <p>
            A website for designers and other creatives to showcase their latest projects. Designed to work for both small and large projects.
            This site makes it simple for designers to upload images and create a case study to show off their work to both clients and other designers.
          </p>
        </div>
    </section>
    {% include footer.html %}
  </body>
</html>
