<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="preload container">
    <section id="top-area">
        {% include header.html %}
        <div class="wrapper">
          <h1 id="hero-text">Beautiful Websites,<br> Designed <span class="small-h1">&</span> Developed <span class="small-h1">for</span><br> Startups</h1>
          <div id="main-cta">
            <a href="/contact/" class="cta">Get Started Now</a>
          </div>
        </div>
    </section>
    <section class="wrapper" id="clients">
        <h2>Has worked with</h2>
        <ul class="clients">
            <li><img src="/img/jandj.png" /></li>
            <li><img src="/img/shadowmansports-logo.png" /></li>
            <li><img src="/img/mc-afee.png" /></li>
        </ul>
    </section>
    <section class="wrapper" id="work">
        <a class="shadowmansports project" data-name="Shadowman Sports" href="/shadowmansports/">
              <img src="/img/shadowmansports.png" />
        </a>
        <div class="tuuth project" data-name="Tuuth">
            <img src="/img/tuuth.png" />
        </div>
        <a class="msgai project" data-name="Msg.ai" href="/msgai/"> 
            <img src="/img/msgai.png" />
        </a>
        <div id="main-cta">
          <a href="/contact/" class="cta">Contact Me</a>
        </div>
    </section>

    {% include footer.html %}
  </body>
</html>
