<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="preload container about">
      {% include header.html %}
      <div class="wrapper content">
        <div class="column">
          <div class="opening-text">
            <h1>Conor Organ</h1>
            <h2>Designer // Music Nerd // Computer Geek</h2>
            <p>
              I started using Photoshop when I was 13. I have been a devoted designer ever since that moment. This is why when the time came to pick a future career path product design jumped out at me.
            </p>
            <p>
                Music has played a huge role in my life. I really enjoy producing my own work. In fact I have listened to over 20,000 songs in 2016 alone.  You can see what I am listening to at <a href="/Music">My Music site</a>.
            </p>
            <p>
                I started to code at the age of 15 and this wetted my appetite for computer programming and development.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="opening-image">
            <img src="/img/bg.png" draggable="false" />
          </div>
        </div>
      </div>
      {% include footer.html %}
  </body>

</html>
